<% include header.html %>
<style>
	.light { 
		color: #ddd; 
		font-size: .8rem;	
	}
	.message { 
		background: white;
		border-radius: 6px;
		margin-bottom: 6px;
		padding: 10px;
		border: 1px solid #e2e2e2;
		border-top: 1px solid #e8e8e8;
	}
	body {
		background: #eee;
	}
	#user-profile {
		transition: all .25s linear;
	}
	#user-profile:hover {
		border: 4px solid gray;
	}
</style>
<div class='container'>
	<div class='row'>
		<div class='col-xs-12 col-sm-3'>
			<% if (user.photo) { %>
			<img src='<%= user.photo %>' onclick='browse()' id='user-profile'>
			<% } %>
			<h4>Your Information</h4>
			<form method='post' enctype='multipart/form-data'
				id='profile'>
				<input name='name' value='<%= user.name %>'
					class='form-control' readonly>
				<input name='full_name'
					class='form-control'
					autofocus
					placeholder="Full Name"
					value='<%= user.full_name %>'>
				<textarea
					name='info'
					class='form-control'
					placeholder='Your Brief Information'
					rows='5'
				><%= user.info %></textarea>
				<input type='file' name='photo' id='photo' 
					onchange='submit()' style='display:none'>
				<button type='submit'
					class='btn btn-primary'>Save</button>
				<a href='/<%= user.name %>'>View</a>
			</form>
		</div>
		<div class='col-xs-12 col-sm-9'>
			<form action='javascript:send()'>
				<textarea class='form-control' id='message'
					placeholder='Type your message here.'></textarea>
				<button class='btn btn-primary'>Send</button>
			</form>
			<br>
			<% for (var m of message) { %>
				<div class='message'>
					<%= m.text %>
					<br>
					<span class='light'><%= m.time %></span>
				</div>
			<% } %>
		</div>
	</div>
</div>

<script src='/socket.io/socket.io.js'></script>
<script>
	var client = io('/')
	client.on('message', message => {
		alert(message)
	})
	function send() {
		var message = $('#message').val()
		$('#message').val('')
		client.send(message)
		if (message[0] == '@') {

		} else {
			location.reload()
		}
	}
	function browse() {
		$('#photo').click()
	}
	function submit() {
		$('#profile').submit()
	}
</script>

<% include footer.html %>
