<% include header.html %>

<div class='container'>
	<h3>Hello <%= user.full_name %></h3>
	<div class='btn-group'>
		<a href='/' class='btn btn-outline-primary'>Home</a>
		<a href='/logout' class='btn btn-outline-primary'>Log Out</a>
	</div>
	<br><br>
	<h4>Your Information</h4>
	<form method='post' enctype='multipart/form-data'>
		<input name='full_name'
			class='form-control'
			autofocus
			placeholder="Full Name"
			value='<%= user.full_name %>'>
		<textarea
			name='info'
			class='form-control'
			placeholder='Your Brief Information'
			rows='5'
		><%= user.info %></textarea>
		<% if (user.photo) { %>
		<img src='<%= user.photo %>'>
		<% } %>
		<input type='file' name='photo'>
		<br><br>
		<button type='submit'
			class='btn btn-primary'>Save</button>
	</form>
</div>

<% include footer.html %>
