<% include header.html %>
<style>
	form {
		max-width: 300px;
		border: 2px solid #ccc;
		padding: 0 6px;
		border-radius: 6px;
		margin: 0 auto;
	}
</style>

<div class='container'>
	<form method='post'>
		<h1>Register</h1>
		<input class='form-control' name='name'
			autofocus placeholder='User Name'>
		<input class='form-control' name='password'
			type='password' placeholder='Password'>
		<input class='form-control' name='full_name'
			placeholder='Full Name'>
		<button class='btn btn-primary'
			type='submit'>Register</button>
		<a href='/'>Cancel</a>
	</form>
</div>

<% include footer.html %>
